* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  height: 100vh;
}

Header {
  margin-bottom: 5px;
}

.line {
  opacity: 0;
}

.firstLine {
  animation-name: xTranslate;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes xTranslate {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
