* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav > ul > * + * {
  padding-left: 2vw;
}

.line {
  opacity: 0;
}

.firstLine {
  animation-name: xTranslate;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes xTranslate {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
